# Measures of Central Tendency

## Ukuran pusat (measures of central tendency) adalah statistika deskriptif yang dapat digunakan untuk membantu kita mengidentifikasi kasus-kasus tipikal di dalam sebuah sampel atau populasi

## Terdapat beberapa jenis ukuran pusat yang dapat digunakan untuk menganalisa data, diantaranya:
## Mean atau rerata
## Median
## Modus

# Import Library

In [2]:
import numpy as np
import pandas as pd

In [3]:
raw_data = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv', sep=';')
raw_data.head()
print(raw_data)

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1

# Mean (Rata-rata)

In [ ]:
#mengambil data hanya untuk produk A
Produk_A = raw_data[raw_data['Produk'] == 'A']

In [5]:
#menghitung mean menggunakan method .mean() pada objek pandas DataFrame
print(Produk_A['Pendapatan'].mean())

550000.0

In [6]:
#menghitung mean menggunakan method .mean() pada objek pandas DataFrame dengan numpy
print(np.mean(Produk_A['Pendapatan']))

550000.0

# Median

In [7]:
#pengambilan median menggunakan pandas
print(Produk_A['Pendapatan'].median())

600000.0

In [8]:
#menghitung mean menggunakan numpy
print(np.median(Produk_A['Pendapatan']))

600000.0

# Modus

In [10]:
print(raw_data['Produk'].value_counts())

Produk
D    5
A    4
B    4
C    4
E    3
Name: count, dtype: int64

# Quantile

In [15]:
# mencari quantil dengan pandas
print(raw_data['Pendapatan'].quantile(q = 0.5))

875000.0

In [14]:
print(np.quantile(raw_data['Pendapatan'], q = 0.5))

875000.0

# Agregasi Data dengan method .agg()

In [16]:
print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))

        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0

C:\Users\muzammi\AppData\Local\Temp\ipykernel_25188\2078160350.py:1: FutureWarning: The provided callable <function mean at 0x000001BD0737DC60> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))
C:\Users\muzammi\AppData\Local\Temp\ipykernel_25188\2078160350.py:1: FutureWarning: The provided callable <function median at 0x000001BD07518180> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))

In [17]:
print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))

       Pendapatan                Harga
             mean     median      mean    median
Produk
A        550000.0   600000.0  100000.0  100000.0
B        875000.0   875000.0  150000.0  150000.0
C        850000.0   900000.0  200000.0  200000.0
D       2100000.0  1200000.0  250000.0  250000.0
E       1200000.0  1100000.0  300000.0  300000.0

C:\Users\muzammi\AppData\Local\Temp\ipykernel_25188\1703291679.py:1: FutureWarning: The provided callable <function mean at 0x000001BD0737DC60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))
C:\Users\muzammi\AppData\Local\Temp\ipykernel_25188\1703291679.py:1: FutureWarning: The provided callable <function median at 0x000001BD07518180> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))
C:\Users\muzammi\AppData\Local\Temp\ipykernel_25188\1703291679.py:1: FutureWarning: The provided callable <function mean at 0x000001BD0737DC60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))